@font-face {
  font-family: AstoriaDeco;
  src: url('../fonts/AstoriaDeco.ttf');
}

* {
  list-style: none;
}
footer {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100px;

  background-color: #666666;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  p {
    margin-left: 25px;
    margin-right: 25px;
    a {
      font-style: normal;
      color: black;
      color: #ff0000;
      text-decoration: none;
      &:active {
        color: #ff0000;
      }
      &:visited {
        color: #0c003fd0;
      }
      &:hover {
        color: #339900;
      }
    }
  }

  .footerModal {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: rgba(56, 54, 54, 0.94);
    font-style: normal;

    transition: 1250ms cubic-bezier(0.4, 0, 0.01, 1);

    .footerHeadline {
      display: inline;
      color: #fff;

      font-family: AstoriaDeco;
      font-style: italic;
      font-weight: 100;
      font-size: 5rem;
    }

    .tList {
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      justify-content: space-evenly;

      width: 90vw;

      .tCard {
        position: relative;

        margin: 20px;
        // padding-bottom: 100px;

        height: 200px;
        width: 200px;

        perspective: 1000px;

        &:hover .cardFront {
          transform: rotateY(180deg);
        }
        &:hover .cardRear {
          transform: rotateY(360deg);
        }
        .cardFront,
        .cardRear {
          position: absolute;
          left: 0;
          top: 0;

          width: 100%;
          height: 100%;

          display: flex;
          justify-content: center;
          align-items: center;

          transition: 500ms cubic-bezier(0.4, 0, 0.01, 1);
          backface-visibility: hidden;
          overflow: hidden;

          font-size: medium;

          p {
            margin: 0;
            margin-bottom: 10px;
            &:nth-child(1) {
              font-weight: bold;
            }
          }
        }

        .cardFront {
          border-top-left-radius: 30px;
          border-bottom-right-radius: 30px;

          background-color: #fff;
        }
        .cardRear {
          border-top-right-radius: 30px;
          border-bottom-left-radius: 30px;

          display: flex;
          flex-direction: column;
          background-color: #bdbdbd;
          transform: rotateY(180deg);
        }
        img {
          width: inherit;
          width: inherit;
          object-fit: cover;
        }
      }
    }
  }
  .is-hidden {
    height: 0%;

    position: fixed;
    top: 200%;
    // left: 50%;

    background-color: transparent;
    .tCard {
      list-style: none;
      height: 0px;
    }
    // img {
    //   height: 0px;
    //   // width: 100%;
    //   object-fit: scale-down;
    //   transition: 1250ms cubic-bezier(0.4, 0, 0.01, 1);
    // }
    // transition: 1250ms cubic-bezier(0.4, 0, 0.01, 1);
  }
}
