// @font-face {
//   font-family: AstoriaDeco;
//   src: url('../fonts/AstoriaDeco.ttf');
// }

* {
  list-style: none;
}
body.modalFooter-open {
  overflow: hidden;
}
@mixin flexible() {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;

  width: 100%;
  height: 100px;

  color: #939393;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  p {
    margin-left: 25px;
    margin-right: 25px;
    .heart {
      display: inline-block;
      height: 15px;
    }
    a {
      font-style: normal;
      color: #ff0000;
      text-decoration: none;
      &:active {
        color: #ff0000;
      }
      &:visited {
        color: #7abfffd0;
      }
      &:hover {
        color: #339900;
      }
    }
  }

  .footerModal {
    position: fixed;
    top: 0;
    left: 0;

    @include flexible();
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

    width: 100%;
    height: 100%;
    background-color: #0e0e0e;
    background-position: no-repeat;
    background-size: contain;

    @media screen and (ma-width: 767px) {
      background-position: left 0 top 364px;
      background-image: url('../images/bg-main/noise-body-mobile.png');

      @media screen and (main-device-pixel-ratio: 2),
        screen and (-webkit-min-device-pixel-ratio: 2),
        screen and (-o-min-device-pixel-ratio: 2/1),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        .body {
          background-image: url('../images/bg-main/noise-body-mobile@2x.png');
        }
      }
    }

    @media screen and (main-device-pixel-ratio: 2),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (-o-min-device-pixel-ratio: 2/1),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      .body {
        background-image: url('../images/bg-main/noise-body-tablet@2x.png');
      }
    }

    @media screen and (min-width: 1280px) {
      background-position: center, center;
      background-size: cover, 1280px;
      background-image: url('../images/bg-main/noise-body-descktop.png'),
        url('../images/bg-main/background-decor-1280.svg');

      @media screen and (main-device-pixel-ratio: 2),
        screen and (-webkit-min-device-pixel-ratio: 2),
        screen and (-o-min-device-pixel-ratio: 2/1),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        .body {
          background-image: url('../images/bg-main/noise-body-descktop@2x.png');
        }
      }
    }

    font-style: normal;

    -webkit-transition: 1250ms cubic-bezier(0.4, 0, 0.01, 1);

    -o-transition: 1250ms cubic-bezier(0.4, 0, 0.01, 1);

    transition: 1250ms cubic-bezier(0.4, 0, 0.01, 1);

    .footerHeadline {
      display: inline;
      color: #fff;
      margin: 0;
      margin-bottom: 2vmin;

      color: #939393;

      font-weight: 100;
      font-size: 4vmin;
      line-height: 30px;
    }

    .tList {
      @include flexible();

      -ms-flex-wrap: wrap;

          flex-wrap: wrap;
      margin: 0;
      padding-left: 0;
      width: 90%;

      .tCard {
        position: relative;

        margin: 1.4vmin;

        width: 20vmin;
        height: 20vmin;

        -webkit-perspective: 1000px;

                perspective: 1000px;
                &:hover .cardFront {
          -webkit-transform: rotateY(180deg);
                  transform: rotateY(180deg);
        }
        &:hover .cardRear {
          -webkit-transform: rotateY(360deg);
                  transform: rotateY(360deg);
        }
        .cardFront,
        .cardRear {
          position: absolute;
          left: 0;
          top: 0;

          width: 100%;
          height: 100%;

          -webkit-transition: 500ms cubic-bezier(0.4, 0, 0.01, 1);

          -o-transition: 500ms cubic-bezier(0.4, 0, 0.01, 1);

          transition: 500ms cubic-bezier(0.4, 0, 0.01, 1);
          -webkit-backface-visibility: hidden;
                  backface-visibility: hidden;
          overflow: hidden;
        }

        .cardFront {
          border-top-left-radius: 3vmin;
          border-bottom-right-radius: 3vmin;
          -o-object-fit: cover;
             object-fit: cover;

          background-color: #fff;
        }
        .cardRear {
          @include flexible();
          -webkit-box-pack: space-evenly;
              -ms-flex-pack: space-evenly;
                  justify-content: space-evenly;

          border-top-right-radius: 3vmin;
          border-bottom-left-radius: 3vmin;

          -webkit-box-orient: vertical;

          -webkit-box-direction: normal;

              -ms-flex-direction: column;

                  flex-direction: column;
          -o-object-fit: cover;
             object-fit: cover;

          line-height: 2.4vmin;
          color: black;

          background-color: #bdbdbd;
          -webkit-transform: rotateY(180deg);
                  transform: rotateY(180deg);
          p {
            @include flexible();

            margin: 0;
            font-size: 2.4vmin;

            &:nth-child(1) {
              font-size: 2.4vmin;
              font-weight: bold;
            }
          }
          a {
            @include flexible();

            margin: 0;
            padding: 0;
          }
          .logoGit {
            display: block;
            width: 4.4vmin;
          }
        }
      }
    }
  }
  .is-hidden {
    visibility: hidden;
    position: fixed;
    top: 200%;

    height: 0%;

    background-color: transparent;
    .tCard {
      list-style: none;
      height: 0px;
    }
  }
}