@import "./styleDefoult/mixin";
header {
  @media screen and (min-width: 320px){
    height: 364px;
    background-image: linear-gradient(180deg, rgba(13, 13, 13, 0.19) 0%, rgba(14, 14, 14, 0.8) 100%),
    url(../images/bg-320.jpg);
    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(180deg, rgba(13, 13, 13, 0.19) 0%, rgba(14, 14, 14, 0.8) 100%),
      url(../images/bg-320@2x.jpg);
    }
  }
  @media screen and (min-width: 768px){
    background-image: linear-gradient(180deg, rgba(13, 13, 13, 0.19) 0%, rgba(14, 14, 14, 0.8) 100%),
    url(../images/bg-786.jpg);
    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(180deg, rgba(13, 13, 13, 0.19) 0%, rgba(14, 14, 14, 0.8) 100%),
      url(../images/bg-768@2x.jpg);
    }
  }
  @media screen and (min-width: 1280px){
    height: 446px;
    background-image: linear-gradient(180deg, rgba(13, 13, 13, 0.19) 0%, rgba(14, 14, 14, 0.8) 100%),
    url(../images/bg-1280.jpg);
    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(180deg, rgba(13, 13, 13, 0.19) 0%, rgba(14, 14, 14, 0.8) 100%),
      url(../images/bg1280@2x.jpg);
    }
  }
  .header-img{
    position: absolute;
    left: 8px;
  }
  .header-name{
    @include container();
    padding-top: 78px;
      color: #DC56C5;
      font-weight: 900;
      line-height: 1,21;
      font-size: 21px;
      @media screen and (min-width: 768px){
        padding-top: 40px;
        font-size: 30px; }
        @media screen and (min-width: 1280px){
          font-size: 50px;
        }

  }
  background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    
}
.header-input{
  list-style: none;
  display: inline-block;
  padding: 0;
  & li{
    width: 270px;
    height: 40px;
  }
  
  
  & svg{
    
    position: relative;
     bottom: 30px;
     left: 100px;
   }
  @media screen and (min-width: 768px){
    display: flex;
    justify-content: center;
  }
  
& input{
  color: #939393;
  font-weight: 400px;
  font-size: 16px;
  line-height: 1,21;
  background: rgba(255, 255, 255, 0.2);
  width: 270px;
  height: 40px;
  border-radius: 20px;
  &::placeholder{
    padding-left: 30px;
  }
}
}
.header-start{
  margin-bottom: 25px;
  @media screen and (min-width: 768px){
    margin-bottom: 0;
  margin-right: 30px;
}
}
.header-container{
  @media screen and (min-width: 768px){
    
    display: inline-block;
}
}
