@import "styleDefoult/mixin";
main{
  .container{
    @include container()
  }
}
// .event-list{
//   display: grid;
//   @media screen and (min-width: 320px){
//     grid-template-columns: repeat(2,1fr);
//     grid-template-rows: repeat(10,1fr);
//     grid-column-gap: 15px;
//     grid-row-gap: 30px;
//   }

//   @media screen and (min-width: 768px){
//     grid-template-columns: repeat(3,1fr);
//     grid-template-rows: repeat(7,1fr);
//     grid-column-gap: 30px;
//     grid-row-gap: 60px;
//   }

//   @media screen and (min-width: 1280px){
//     grid-template-columns: repeat(4,1fr);
//     grid-template-rows: repeat(5,1fr);
//     grid-column-gap: 70px;
//     grid-row-gap: 60px;
//   }
// }
.body {
  background-color: #0e0e0e;
  background-position: no-repeat;
  background-size: contain;

  @media screen and (ma-width: 767px) {
    background-position: left 0 top 364px;
    background-image: url("../images/bg-main/noise-body-mobile.png");

    @media screen and (main-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
        .body {
          background-image: url("../images/bg-main/noise-body-mobile@2x.png");
        }
      }
  }

  @media screen and (main-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
    .body {
      background-image: url("../images/bg-main/noise-body-tablet@2x.png");
    }
  }

  @media screen and (min-width: 1280px) {
    background-position: center, center;
    background-size: cover, 1280px;
    background-image: url("../images/bg-main/noise-body-descktop.png"),
    url("../images/bg-main/background-decor-1280.svg");

    @media screen and (main-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
    .body {
      background-image: url("../images/bg-main/noise-body-descktop@2x.png");
      }
    }
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}


.event-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin-bottom: 80px;
}

.event-card {
  position: relative;
  text-align: center;
  margin-bottom: 39px;
  margin-bottom: 30px;
  box-sizing: border-box;

  @media screen and (min-width: 320px) and (max-width: 767px) {
    margin-top: 39px;
    flex-basis: calc(100% / 2 - 14px);
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin-top: 58px;
    flex-basis: calc(100% / 3 - 27px);
  }

  @media screen and (min-width: 1280px) {
    margin-top: 63px;
    flex-basis: calc(100% / 4 - 70px);
  }
}

@media screen and (max-width: 767px) {
  .event-card {
    width: calc((100% - 14px) / 2);
    margin-right: 14px;
    margin-bottom: 39px;
  }
  .event-card:nth-child(2n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .event-card {
    width: calc((100% - 27px * 2) / 3);
    margin-right: 27px;
    margin-bottom: 58px;
  }
  .event-card:nth-child(3n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 1280px) {
  .event-card {
    width: calc((100% - 70px * 3) / 4);
    margin-right: 56px;
    margin-bottom: 63px;
  }
  .event-card:nth-child(4n) {
    margin-right: 0;
  }
}

.card {
  text-align: center;
  border-radius: 50px 0 0 0;
}

.overlay-img {
  cursor: pointer;
  display: inline-block;
  border-radius: 50px 0;
  object-fit: contain;
  width: 128px;
  height: 161px;
  overflow: hidden;

  @media screen and (min-width: 768px) {
    width: 180px;
    height: 227px;
  }
}

.card-sett::after {
  position: absolute;
  display: block;
  content: '';
  border-radius: 50px 0px;

  border: 1px solid rgba(220, 86, 197, 0.3);
  width: 109px;
  height: 101px;
  top: -9px;
  right: 0px;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    width: 153px;
    height: 143px;
    border: 1px solid rgba(220, 86, 197, 0.3);
    top: -13px;
    right: 10px;
  }

  @media screen and (min-width: 1280px) {
    width: 153px;
    height: 143px;
    top: -13px;
    right: 25px;
  }
}

.card-img {
  overflow: hidden;
  border-radius: 50px 0px;
  object-fit: cover;
  @media screen and (min-width: 320px) {
    width: 128px;
    height: 161px;
  }

  @media screen and (min-width: 768px) {
    width: 180px;
    height: 227px;
  }
}

.event-title {
  font-weight: bold;
  line-height: 17px;
  font-size: 14px;
  margin-bottom: 5px;
  color: #DC56C5;

  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
}

.event-date {
  margin-bottom: 5px;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: white;

  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
}

.event-location {
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: white;

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
}

.event-date,
.event-location {
  color: white;
}