@import './styleDefoult/mixin';

.modal-container {
  @include container();
  position: relative;
  // temp styles
  outline: 1px solid red;
  background-color: wheat;
}
.btn-close {
  position: absolute;
  right: 25px;
  top: 25px;
  width: 25px;
  height: 25px;
  // border: none;
  background-color: inherit;
  &:hover {
    background-color: #4c00fe;
    .btn-close-icon {
      fill: #ffffff;
    }
  }
  .btn-close-icon {
    fill: #4c00fe;
    width: 17px;
    height: 17px;
  }
}
.event-icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
