li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.page-link {

  color: #FFFFFF;
  width: 10px;
  height: 20px;

}

.pag {
  display: flex;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

.pag-container {
    margin-top: 5px;
}

.pag li {
  margin-right: 25px;

}

.page-link {
  padding: 5px 10px;
}

.active {
  color: #DC56C5;
  border: 1px solid #DC56C5;
  border-radius: 10px 0px;
}